<form action="/Createbadge" method="POST"> 
    <input type="text" name="name" 
        placeholder="name"> 
    <input type="password" name="passwordn" 
        placeholder="password"> 
    <button>Submit</button> 
</form> 
  