<html>
    <head>
        <title>Badge Mate</title>
    </head>
    <body>
        <h1>This is the dashboard of Badge Mate</h1>
        <a href="/<%= user_id %>/badgepack">Badge-Pack</a><br>
        <a href="/<%= user_id %>/myissuers">My Issuers</a><br>
        <a href="/<%= user_id %>/earnbadge">Earn Badge from BadgeMate</a><br>
        <a href="/<%= user_id %>/issuer">Issue Badges</a><br>
    </body>
</html>