<html>
    <head>
        <title>Badge Mate</title>
    </head>
    <body>
        <h1>This is the landing page of Badge Mate</h1>
        <div id="particles-js"></div>
        
        <a href="/register">Sign - up</a>
        <a href="/login">Sign - in</a>

        <script src="/public/particles.js-master/particles.js"></script>
    </body>
</html>