<html>
    <head>
        <title>Badge Mate</title>
    </head>
    <body>
        <h1>This is the landing page of Badge Mate</h1>
        <a href="/register">Sign - up</a>
        <a href="/login">Sign - in</a>
    </body>
</html>