<html>
    <head>
        <title>Badge Mate</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="icon" href="/imgs/badge.ico" type="image/gif" sizes="16x16">

    </head>
    <body>
        <h1>This is the landing page of Badge Mate</h1>
        <div id="particles-js"></div>
        
        <a href="/register">Sign - up</a>
        <a href="/login">Sign - in</a>

        <script src="/public/particles.js-master/particles.js"></script>
    </body>
</html>