<html>
    <head>
        <title>Badge Mate</title>
    </head>
    <body>
        <h1>This is the sign in page of Badge Mate</h1>
        <form method="POST" action="/login">
            <input type="email" name="username" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Sign-in" /> 
        </form>
        <a href="/register">Sign-up</a>(if not registered)
    </body>
</html>