<html>
    <head>
        <title>Badge Mate</title>
    </head>
    <body>
        <h1>This is the sign up page of Badge Mate</h1>
        <form method="POST" action="/register">
            <input type="email" name="username" placeholder="E-mail" />
            <input type="text" name="name" placeholder="Name" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Sign-Up" /> 
        </form>
        <a href="/login">Sign-in</a>(if already registered)
    </body>
</html>