<h1> Sign up form </h1> 
  
<form action="/register" method="POST"> 
    <input type="email" name="username" placeholder="Email address" required autofocus>
    <input type="text" name="username" 
        placeholder="username"> 
      
    <input type="password" name="password" 
        placeholder="password"> 
        <input type="password" id="confirmPassword"  placeholder="Confirm Password" required onkeyup="checkPassword()">
    <button>Submit</button> 
</form> 
  

